.vs/
.vscode/
build/
.vagrant/
*.out
.bash_history
.cache
.mrover
.node-gyp
.DS_Store
**/node_modules/
*.dat
output.log
base_station/gui/src/static/map
/core.*
ag_calibration.txt
calibration.txt
mag_calibration.txt
